body {
  background-color: #d0d0d0;
  font-size: 14px;
  color: #000;
}

.app {
  padding: 0 15px;
}

.nav {
  list-style-type: none;

  > li {
    display: inline-block;
    padding: 0 10px;
  }
}

.pop-error {
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
}
